
* {
  margin: 0;
  padding: 0;

}
body {
  margin: 0;
  line-height: 1.6;
  

}

.App {
  background: rgb(31, 29, 29);
  background-image: url(images/bg1.jpg);
  color: rgb(247, 247, 247);
  padding: 10px;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: 100vw 104vh;
  background-position: center;
  height: 99vh;
  overflow-y: hidden;
  
}
