.Gallery{
    display: flex;
    justify-content: center;


}

.Content{ 
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    text-align: center;
    margin-top: 7px;
    padding:10px ;
    border: 2px solid white ;
    height: 68vh;
    min-width: 90%;
    overflow-y: auto;
  
    

    
}
.img {
    min-width: 40vw;
    width: 30vw;
    height: 40vh;
    margin: 8px ;
    border-radius: 4px;
    border: 0.4px solid rgb(255, 255, 255);

}
    /* 
    @media (max-width:750px){
    .Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

    }
    .img{
        max-width: 80vw;
        max-height: 60vh;
        margin-top: 4px;
    }
    
} */
@media (max-width:750px ),(max-height:600px){
    .img{
        width: 80vw;
        height: 55vh;
        margin-top: 4px;
    }
    .Content{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        height: 52vh;

    }
    
}
