@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Nunito:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
.header  {
    text-align: center;
    font-size: 2.1em;
   
  }
  .header>span{
    font-family:'Open Sans Condensed', sans-serif;

  }
  .header>li{
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      padding: 10px;
  }
  
   header {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    overflow: hidden;
    text-decoration-color: palegoldenrod; /* Ensures the content is not revealed until the animation */
    /* border-right: 0.15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 1.4s steps(300, end), blink-caret 0.75s step-start infinite;
  
  }
  
  
 
  @keyframes typing {
    from {
      width: 0;
      
    }
    to {
      width: 30%;
    }
  }
  @media (max-width:413px){
  header {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: 1.5rem;
    text-decoration: underline;
    white-space: nowrap; /* Keeps the content on a single line */
    text-decoration-color: palegoldenrod; /* Ensures the content is not revealed until the animation */
    white-space: normal; /* Keeps the content on a single line */
    text-decoration-thickness: 2px;
    animation: none;
  }
  
  
  }